################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PJSIP-PJSUA2-CSharp/v15/Server/sqlite3
