################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PJSIP-PJSUA2-CSharp/v15/Server/sqlite3
/.vs/PJSIP-PJSUA2-CSharp/v15/.suo
/.vs/slnx.sqlite
/.vs
/PJSIP_PJSUA2_CSharp/obj
/PJSIP_PJSUA2_CSharp/.vs/PJSIP_PJSUA2_CSharp/v15/Server/sqlite3
/SoftPhone/obj/Debug
/SoftPhone/.vs/SoftPhone/v15/Server/sqlite3
/SoftPhone/obj/Release
